<template>
    <div id="app">
        <div class="calculator is-flex" v-if="operations.length">
            <form @submit.prevent="calculateResult">
                <input type="text" class="input" v-model.number="leftOperandValue">
                <button
                        class="button"
                        type="submit"
                        v-for="op in enabledOperations"
                        :key="op.name"
                        @click="onButtonClick(op.name)"
                >{{op.sign}}
                </button>
                <input type="text" class="input" v-model.number="rightOperandValue">
            </form>

            <div class="result">{{result}}</div>
        </div>
        <div v-else>
            Для работы калькулятора необходимо определить переменную operations (массив операций) в области видимости
            window.
            Например, так
            <pre>
                    window.operations = [
                        {
                            name: 'sum',
                            sign: '+',
                            handler: (leftOperandValue, rightOperandValue) => {
                                return +leftOperandValue + +rightOperandValue;
                            },
                            enabled: true,
                        },

                        {
                            name: 'subtract',
                            sign: '-',
                            handler: (leftOperandValue, rightOperandValue) => {
                                return +leftOperandValue - +rightOperandValue;
                            },
                            enabled: true,
                        },
                    ];
            </pre>
        </div>
    </div>
</template>

<script>
    import 'bulma/css/bulma.css';

    export default {
        name: 'App',
        computed: {
            enabledOperations() {
                return this.operations.filter(op => op.enabled);
            }
        },
        data() {
            return {
                result: 0,
                leftOperandValue: 0,
                rightOperandValue: 0,
                operations: 'operations' in window ? window.operations : [],
                clickedButtonName: null
            }
        },
        methods: {
            calculateResult() {
                // Делаю дополнительную проверку на Integer, несмотря на то, что использовал type=number
                // Потому что, насколько помню, не все браузеры поддерживают type=number
                if (Number.isInteger(+this.leftOperandValue) && Number.isInteger(+this.rightOperandValue)) {
                    const clickedOperation = this.operations.find(op => op.name === this.clickedButtonName);
                    if (clickedOperation) {
                        this.result = clickedOperation.handler(this.leftOperandValue, this.rightOperandValue);
                    }
                } else {
                    return alert('Арифметические операции можно производить только с числами. Отредактируйте операнды.')
                }
            },
            onButtonClick(name) {
                this.clickedButtonName = name;
            }
        }
    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;
        margin: 30px;
    }

    .result {
        font-size: 2em;
        font-weight: bold;
    }

    .input {
        max-width: 100px;
        margin-right: 16px;
    }

    .button:not(:last-child) {
        margin-right: 16px;
    }
</style>
